**Python Basics**

**Variables in Python**

In [1]:
a = 5
print("The value of a is:" +str(a))

The value of a is:5

In [2]:
b = 24 
print("The value of b is:" +str(b))

The value of b is:24

In [3]:
z = 18
print("The value of z is:" +str(z))

The value of z is:18

In [4]:
O = 28
print("The value of O is:" +str(O))

The value of O is:28

In [15]:
a = 22
b = 23
c = 28

num = 5

num = 10 

print("The value of a is: " +str(a))
print("The value of b is: " +str(b))
print("The value of c is: " +str(c))
print(num)

The value of a is: 22
The value of b is: 23
The value of c is: 28
10

**Arithemetic Operations**

In [5]:
a = 10
b = 25
c = 36
print (a+b+c)

71

In [6]:
a = 78
b = 48
c = 34
print(a-c)
print(b+c)

44
82

In [7]:
a = "This "
b = "is "
c = "Python Program"
print(a+b+c)

This is Python Program

In [18]:
height = "6 feet"
weight = "90 Kg"
body_type = "Average"
print (height)
print (weight)
print (body_type)

6 feet
90 Kg
Average

In [1]:
Motive = "Be number One "
a = Motive 
print(a)

Be number One

**Input Function**

In [16]:
a = input("Enter your name ")
b = input("Where are you from ")
c = input("What is your age ")

Enter your name Arooj Imtiaz
Where are you from Rawalpindi
What is your age 31

In [17]:
a = input("My name is: ")
b = input("I am from: ")
c = input("My age is: ")
d = input("I am a student of: ")

My name is: Arooj Imtiaz
I am from: Rawalpindi
My age is: 31
I am a student of: AtomCamp

In [11]:
input()

100

'100'

In [13]:
a = int(input("input your phone number"))
type(a)

input your phone number00000000000

int

In [14]:
a = input("input your phone number")
type(a)

input your phone numberArooj

str

In [1]:
course = input("Which course are you interested in? ")
rating = input("What is the rating of this course? ")
cost = input("What is the cost of this course? ")

Which course are you interested in? Data Science
What is the rating of this course? 10
What is the cost of this course? $100

In [3]:
course = input("Which course are you interested in? ")
rating = input("What is the rating of this course? ")
cost = input("What is the cost of this course? ")
type(cost)
print("Course Interested:" + course)
print("Rating of the course:" + rating)
print("Cost of the course:" + cost)

Which course are you interested in? Data Science
What is the rating of this course? 9
What is the cost of this course? $100
Course Interested:Data Science
Rating of the course:9
Cost of the course:$100

In [13]:
user_input = input("Please enter something: ")
print(user_input)
type(user_input)

Please enter something: Hi! How are you?
Hi! How are you?

str

**Concatenate**

In [22]:
a = "Violet "
b = "is "
c = "the "
d = "Best Cohort "
print(a+b+c+d)

Violet is the Best Cohort

**Type Function**

In [23]:
a = "Arooj"
b = 8
c = 10.5
d = 3+5
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>

In [40]:
a = "Arooj "
b = "Imtiaz "
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [3]:
a = 5.0
b = 10.88
c = "Arooj"
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'str'>

**Concatenates a String**

In [25]:
a = "Arooj "
b = 10 
print(a+str(b))

Arooj 10

In [32]:
a = "Arooj "
b = "Imtiaz "
c = 8
print(a+b)
print(a+b+str(c))

Arooj Imtiaz
Arooj Imtiaz 8

In [45]:
print("I can add interger, like " +str(5)+ " To String")

I can add interger, like 5 To String

**Addition of Variables**

In [33]:
a = 10
b = 33
c = a+b
print(c)

43

**Multiplication of Variables**

In [35]:
a = "Arooj "
b = "Imtiaz "
print(a+b*3)

Arooj Imtiaz Imtiaz Imtiaz

In [38]:
a = "Arooj "
b = "Imtiaz "
print((a+b)*3)

Arooj Imtiaz Arooj Imtiaz Arooj Imtiaz

In [39]:
a = "Arooj "
b = "Imtiaz "
print(a*3)
print(b*3)

Arooj Arooj Arooj
Imtiaz Imtiaz Imtiaz

In [6]:
a = "Arooj "
b = "Imtiaz"
print ((a+b)*10)

Arooj ImtiazArooj ImtiazArooj ImtiazArooj ImtiazArooj ImtiazArooj ImtiazArooj ImtiazArooj ImtiazArooj ImtiazArooj Imtiaz

**Division**

In [1]:
a = 10 
b = 5
print(a/b)

2.0

**True and False / True or False**

In [4]:
True and False

False

In [5]:
True or False

True

**Assignment Operators**

In [7]:
a = 20
a+= 25
print(a)

45

**Comparison Operators**

In [8]:
a = 20 
b = 30
a > b

False

In [9]:
a = 20 
b = 30
a < b

True

In [10]:
a = 20 
b = 30
a == b

False

In [2]:
a = 5
b = 6
print(a+b)

11

In [4]:
val1 = 5
val2 = 6
val3 = 5
res = val1*val2*val3
print(res)

150

In [5]:
val1 = 5
val2 = 6
val3 = 5
res = val1/val2/val3
print(res)

0.16666666666666669

In [6]:
10==10

True

In [7]:
num = 1
num>10 and num % 2 == 0

False

In [8]:
num = 20
num>10 and num % 2 == 0

True

In [9]:
a = 5
b = 4
c = 5*5
d = 5**5
print(c,d)

25 3125

In [10]:
my_number = 10

print(my_number > 11 and my_number < 12)
print(my_number < 11 and my_number > 12)

False
False

In [11]:
x = 10 
y = 6
print("x==y:", x==y)
print("x!=y:", x!=y)
print("x<y:", x<y)
print("x>y:", x>y)

x==y: False
x!=y: True
x<y: False
x>y: True

In [12]:
string1 = "I am Learing python"
print("\nsting with the use of Triple Quotes:")
print(string1)
print(type(string1))

sting with the use of Triple Quotes:
I am Learing python
<class 'str'>

**String**

In [14]:
name = "Arooj"
age = 31
country = "Pakistan"
print(f"My name is {name}, i am {age} years old, and i am from {country}")

My name is Arooj, i am 31 years old, and i am from Pakistan

In [18]:
Data = "No Data"
Item = "SSD"
print(f"I have an {Item}, which has {Data}")

I have an SSD, which has No Data

In [17]:
age = int(input("Please enter your age "))
print("The age is either younger than 20 or older 60", age<20 or age>60)

Please enter your age 31
The age is either younger than 20 or older 60 False